* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color:rgb(23,90,250);
    font-weight: bold;
    font-size: 2.8em;
    margin-top: -100px;
}

p {
    font-weight: normal;
    margin-top: -30px;
    font-size: 1.3em;
}

.loginpart a {
    text-decoration: none;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    font-size: 0.8em;
}

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 90px;
    transform: scale(1.3);
}

.leftside {
    /* margin-left: -80px; */
}

.rightside {
    margin-top: -35px;
}


.loginpart {
    height: 40vh;
    width: 310px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0.4px 0.3px 4px 0.1px gray;
} 

form {
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: stretch;
}

form input{
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #b0b0b0;           
}

.logbot {
    color:white;
    background-color: #0866ff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #0866ff; 
    font-weight: bold;
}

.newacc {
    color:white;
    background-color:#42b72a;
    padding: 12px;
    width: fit-content;
    align-self: center;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #42b72a; 
    font-weight: bold;
}

.addinfo {
  margin-top: 15px;
  width: 320px;
  font-size: 0.7em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cracc {
    font-weight: bold;
}
